ul.list{
    border: 1px solid black;
  }
  
  ul.list > li{
    border: 1px solid red;
  
    
    opacity: 1;
    transition: opacity 1s;
   
  }
  
  
  ul.list > li.-remove{
    opacity: 0;
  }
 
  
  ul.list > li::after{
    content: "";
    display: block;
    clear: both;
  }
  button.del{
    float: right;
  }
  /*
  button[disabled].del{
    background-color: black;
    color: white;
  }
  */